@use '../../common/styles/variables.scss' as *;

.teaserWrapper {
    width: 90%;
    max-width: 40rem;
    position: fixed;
    top: 10%;
    left: 15%;
    padding: $spacing-4;
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    border-radius: $spacing-4;
    background: rgba($color-dark-400, 0.4);
}

@media (max-width: $mobile-threshold) {
    .teaserWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: scroll;
    }
}

.titleImage {
    width: 36rem;
}

.logoImage {
    width: 64px;
}

.teaserLabel {
    color: $color-primary-100;
}

.actionsWrapper {
    display: flex;
    margin-top: $spacing-2;
    gap: $spacing-2;
}

.primaryButton {
    padding: $spacing-2 $spacing-4;
    border: none;
    border-radius: $spacing-1;
    color: $color-light-100;
    background: $color-primary-600;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.4s background-color ease-in-out;

    &:hover {
        cursor: pointer;
        background: rgba($color-primary-600, 0.3);
    }
}

.secondaryButton {
    padding: $spacing-2 $spacing-4;
    border: 1px solid $color-primary-700;
    border-radius: $spacing-1;
    color: $color-primary-600;
    background: $color-dark-400;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.4s all ease-in-out;

    &:hover {
        cursor: pointer;
        color: $color-dark-400;
        background: $color-primary-600;
    }
}
